@model IEnumerable<Quizz.Models.ExpModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
   

@foreach (var item in Model) {
    <tr>
        <strong>@Html.DisplayFor(modelItem => item.Oficio)</strong><br/>
            @Html.DisplayFor(modelItem => item.Empresa)<br/>
            @Html.DisplayFor(modelItem => item.Exp)<br/>
            @Html.DisplayFor(modelItem => item.Trabajo)<br/>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })<br/>
    </tr>
}

</table>
